p.Blist-1 {
    margin-bottom: 6pt;
    text-align: left;
    font-family: Calibri;
    counter-reset: Numbering02;
    margin-left: 0.88in;
    --autonumber: autonumber;
}
p.Blist-1:before {
    content: "•";
    font-family: Symbol;
    color: #007CC3;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.63in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.Blist-1-no-list {
    margin-bottom: 6pt;
    text-align: left;
    font-family: Calibri;
    margin-left: 0.88in;
}
p.Blist-1-no-list:before {
    font-family: Symbol;
    color: #007CC3;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.63in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.FrontPage {
    margin-bottom: 6pt;
    text-align: justify;
    font-family: Corbel;
    font-size: 22pt;
    color: #002D49;
    text-transform: uppercase;
    letter-spacing: 2pt;
    font-weight: bold;
}
span.Heading1Char {
    font-size: 26pt;
}
a.Hyperlink {
    color: black;
}
table.LightGrid-Accent11 {
    border-top: solid #4472C4 1.0pt;
    padding-top: 0;
    border-bottom: solid #4472C4 1.0pt;
    padding-bottom: 0;
    border-left: solid #4472C4 1.0pt;
    padding-left: 0;
    border-right: solid #4472C4 1.0pt;
    padding-right: 0;
}
ul.List8 {
counter-reset: section81;
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
list-style:none;
padding-left: var(--prefix-size);
margin-left: calc(var(--list-indent) - var(--prefix-size));
}
p.ListParagraph {
    margin-left: 0.50in;
    margin-right: 0.10in;
    margin-bottom: 10pt;
    text-align: justify;
}
p.NList-1 {
    margin-left: 0.75in;
    text-indent: -0.25in;
    margin-top: 3pt;
    margin-bottom: 3pt;
    text-align: left;
    font-family: Calibri;
}
p.Notes {
    margin-top: 6pt;
    margin-bottom: 0;
    text-align: left;
    font-family: Calibri;
    font-size: 10pt;
}
p.Numbering11 {
    counter-reset: Numbering122;
    margin-left: 0.75in;
    --autonumber: autonumber;
}
p.Numbering11:before {
    counter-increment: Numbering121;
    content: counter(Numbering121,decimal)".";
    color: #007CC3;
    font-weight: bold;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.50in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.Numbering17 {
    counter-reset: Numbering42;
    margin-left: 3.00in;
    --autonumber: autonumber;
}
p.Numbering17:before {
    content: "";
    font-family: Wingdings;
    font-size: 14pt;
    color: #0070C0;
    display: inline-flex;
    width: 0.25in;
    margin-left: 2.75in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.NumberingList {
    margin-bottom: 6pt;
    text-align: justify;
    font-family: Calibri;
    counter-reset: Numbering122;
    margin-left: 0.75in;
    --autonumber: autonumber;
}
p.NumberingList:before {
    counter-increment: Numbering121;
    content: counter(Numbering121,decimal)".";
    color: #007CC3;
    font-weight: bold;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.50in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.NumberingList-no-list {
    margin-bottom: 6pt;
    text-align: justify;
    font-family: Calibri;
    margin-left: 0.75in;
}
p.NumberingList-no-list:before {
    color: #007CC3;
    font-weight: bold;
    display: inline-flex;
    width: 0.25in;
    margin-left: 0.50in;
    overflow: hidden;
    position: absolute;
    left: 0;
    text-align: right;
}
p.TOC2 {
    margin-bottom: 5pt;
    text-align: justify;
    font-family: 'Times New Roman', 'serif';
    color: #002D49;
    font-weight: bold;
}
p.TOC3 {
    margin-left: 0.31in;
    margin-bottom: 5pt;
    text-align: justify;
    font-family: 'Times New Roman', 'serif';
}
p.TOC4 {
    margin-left: 0.60in;
    margin-bottom: 5pt;
    text-align: justify;
}
p.TOC5 {
    margin-left: 0.61in;
    margin-bottom: 5pt;
    text-align: justify;
}
p.TOCHeading {
    margin-left: 0.89in;
    margin-top: 12pt;
    line-height: 1.08;
    margin-bottom: 6pt;
    text-align: justify;
    font-size: 26pt;
    font-weight: bold;
}
table.TableGrid {
    border-top: solid #000000 1.0pt;
    padding-top: 0;
    border-bottom: solid #000000 1.0pt;
    padding-bottom: 0;
    border-left: solid #000000 1.0pt;
    padding-left: 0;
    border-right: solid #000000 1.0pt;
    padding-right: 0;
}
body {
counter-reset:Numbering121 ;
    line-height: 1.08;
    margin-bottom: 8pt;
    font-size: 11pt;
    font-family: Calibri;
}
.position-relative {
position:relative;
}
span { white-space: pre-wrap;
}
p.startpoint {
    margin-left: 0.30in;
    margin-top: 10pt;
    margin-bottom: 6pt;
    text-align: left;
    background: #F8F8F8;
    font-family: Calibri;
    color: #000000;
    letter-spacing: 0.2pt;
    font-weight: bold;
}
table.LightGrid-Accent11 td {
    padding-top: 0pt;
    padding-left: 5.4pt;
    padding-bottom: 0pt;
    padding-right: 5.4pt;
}
table.TableGrid td {
    padding-top: 0pt;
    padding-left: 5.4pt;
    padding-bottom: 0pt;
    padding-right: 5.4pt;
}
ul.List8>li {
 position: relative;
}
ul.List8>li:before {
counter-increment: section81;
content:"";
--prefix-size: 40px;
--prefix-gap: 4px;
--list-indent: 40px;
--prefix-fixed-size: false;
text-align: right;
position: absolute;
left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
margin-right: var(--prefix-gap);
width: var(--prefix-size);
overflow: hidden;
    color: #0070C0;
    font-family: Wingdings;
    font-size: 14pt;
}